@media (max-width: 1200px){
    .content{
        flex-direction: column;
    }

    #leftPanel {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row !important;
        overflow: scroll;
    }

    #leftPanel h6 {
        display: none;
    }

    #square {
        position: absolute !important;
        right: 20% !important;
    }

    .squareElement {
        width: 120px !important;
        height: 120px !important;
        line-height: 120px !important;
        font-size: medium !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

input {
    cursor:text !important;
}

input:focus {
    outline: 1px solid white !important;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.leftPanel{
    width: 50%;
}

.squareLine {
    display: flex;
}

.squareElement {
    box-sizing: border-box;
    margin-top: 2px;
    margin-left: 2px;
    width: 180px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    font-size: larger;
    border: 1px black solid;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#square {
    position: fixed;
    right: 1%;
    top: 10%;
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
    font-weight: bold;
    border-color: red;
    border-width: 2px;
}

.row button {
    margin: 1px 2px;
}

.row {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.col {
    margin-left: 0px;
    margin-right: 0px;
}

div.btn:hover, input.btn:hover {
    color: #f8f9fa;
    background-color: #212529;
}

div.btn{
    margin: 1px 2px;
    cursor: default;
}

.step-sm {
    margin-top: 1px;
}

.step-lg {
    margin-top: 15px;
}