@media (max-width: 1200px){
    .content{
        flex-direction: column;
    }

    #leftPanel {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: row !important;
        overflow: scroll;
    }

    #leftPanel h6 {
        display: none;
    }

    #square {
        position: absolute !important;
        right: 20% !important;
    }

    .squareElement {
        width: 120px !important;
        height: 120px !important;
        line-height: 120px !important;
        font-size: medium !important;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

input {
    cursor:text !important;
}

input:focus {
    outline: 1px solid white !important;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.leftPanel{
    width: 50%;
    min-height: 100vh;
}

.squareLine {
    display: flex;
}

.squareElement {
    box-sizing: border-box;
    margin-top: 2px;
    margin-left: 2px;
    width: 180px;
    height: 180px;
    line-height: 180px;
    text-align: center;
    font-size: larger;
    border: 1px black solid;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#square {
    position: fixed;
    top: 10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    position: fixed!important;
    left: auto!important;
    right: 1%;
    top: 10%;
    align-self: center;
    width: 50%;
    z-index: 0;
}

.red {
    color: red;
    font-weight: bold;
    border-color: red;
    border-width: 2px;
}

.row button {
    margin: 1px 2px;
}

.row {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.col {
    margin-left: 0px;
    margin-right: 0px;
}

div.btn:hover, input.btn:hover {
    color: #f8f9fa;
    background-color: #212529;
}

div.btn{
    margin: 1px 2px;
    cursor: default;
}

.step-sm {
    margin-top: 1px;
}

.step-lg {
    margin-top: 15px;
}

.square-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.square-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.small-input {
    width: 60px;
    font-size: 24px;
}

.my-red {
    border-color: darkred;
    background: lightcoral;
}

.my-yellow {
    border-color: darkgoldenrod;
    background: lightgoldenrodyellow;
}

.my-blue {
    border-color: darkblue;
    background: lightskyblue;
}

.my-brown {
    border-color: darkolivegreen;
    background: #c19a6b;
}

.my-green {
    border-color: darkgreen;
    background: lightgreen;
}

.my-black {
    border-color: black;
    background: lightslategray;
}

.my-gray {
    border-color: black;
    background: lightgray;
}

.my-red-red {
    border-color: darkred;
    background: linear-gradient(to right, lightcoral 50%, lightcoral 50%);
}

.my-red-yellow {
    border-color: darkorange;
    background: linear-gradient(to right, lightcoral 50%, lightgoldenrodyellow 50%);
}

.my-red-blue {
    border-color: purple;
    background: linear-gradient(to right, lightcoral 50%, lightskyblue 50%);
}

.my-yellow-blue {
    border-color: lightgreen;
    background: linear-gradient(to right, lightgoldenrodyellow 50%, lightskyblue 50%);
}

.my-blue-blue {
    border-color: darkblue;
    background: linear-gradient(to right, lightskyblue 50%, lightskyblue 50%);
}


.my-yellow-brown {
    border-color: brown;
    background: linear-gradient(to right, lightgoldenrodyellow 50%, #c19a6b 50%);
}